// Footer
footer#footer
  // container
  .container
    // row
    .row
      .col-md-5
        .footer-widget
          .footer-logo
            a.logo(href='index.html')
              img(src='./img/logo.png', alt='')
          ul.footer-nav
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Advertisement
          .footer-copyright
            span
              | ©
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-md-4
        .row
          .col-md-6
            .footer-widget
              h3.footer-title About Us
              ul.footer-links
                li
                  a(href='about.html') About Us
                li
                  a(href='#') Join Us
                li
                  a(href='contact.html') Contacts
          .col-md-6
            .footer-widget
              h3.footer-title Catagories
              ul.footer-links
                li
                  a(href='category.html') Web Design
                li
                  a(href='category.html') JavaScript
                li
                  a(href='category.html') Css
                li
                  a(href='category.html') Jquery
      .col-md-3
        .footer-widget
          h3.footer-title Join our Newsletter
          .footer-newsletter
            form
              input.input(type='email', name='newsletter', placeholder='Enter your email')
              button.newsletter-btn
                i.fa.fa-paper-plane
          ul.footer-social
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-google-plus
            li
              a(href='#')
                i.fa.fa-pinterest
