div
  // ad
  .aside-widget.text-center
    a(href='#', style='display: inline-block;margin: auto;')
      img.img-responsive(src='./img/ad-1.jpg', alt='')
  // post widget
  .aside-widget
    .section-title
      h2 Most Read
    .post.post-widget
      a.post-img(href='blog-post.html')
        img(src='./img/widget-1.jpg', alt='')
      .post-body
        h3.post-title
          a(href='blog-post.html') Tell-A-Tool: Guide To Web Design And Development Tools
    .post.post-widget
      a.post-img(href='blog-post.html')
        img(src='./img/widget-2.jpg', alt='')
      .post-body
        h3.post-title
          a(href='blog-post.html') Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically
    .post.post-widget
      a.post-img(href='blog-post.html')
        img(src='./img/widget-3.jpg', alt='')
      .post-body
        h3.post-title
          a(href='blog-post.html') Why Node.js Is The Coolest Kid On The Backend Development Block!
    .post.post-widget
      a.post-img(href='blog-post.html')
        img(src='./img/widget-4.jpg', alt='')
      .post-body
        h3.post-title
          a(href='blog-post.html') Tell-A-Tool: Guide To Web Design And Development Tools
  // catagories
  .aside-widget
    .section-title
      h2 Catagories
    .category-widget
      ul
        li
          a.cat-1(href='#')
            | Web Design
            span 340
        li
          a.cat-2(href='#')
            | JavaScript
            span 74
        li
          a.cat-4(href='#')
            | JQuery
            span 41
        li
          a.cat-3(href='#')
            | CSS
            span 35
  // tags
  .aside-widget
    .tags-widget
      ul
        li
          a(href='#') Chrome
        li
          a(href='#') CSS
        li
          a(href='#') Tutorial
        li
          a(href='#') Backend
        li
          a(href='#') JQuery
        li
          a(href='#') Design
        li
          a(href='#') Development
        li
          a(href='#') JavaScript
        li
          a(href='#') Website
  // archive
  .aside-widget
    .section-title
      h2 Archive
    .archive-widget
      ul
        li
          a(href='#') Jan 2018
        li
          a(href='#') Feb 2018
        li
          a(href='#') Mar 2018
